// Main Fonts
$wp_indigo_primary_font_regular: "overpass";
$wp_indigo_primary_font_light: "overpass-light";

// Secondary Fonts
$wp_indigo_secondary_font_regular: "sourceserifpro-regular";
$wp_indigo_secondary_font_light: "sourceserifpro-light";

// Root html variables
$wp_indigo_headings_font: var(--wp_indigo_headings_font); // Overpass
$wp_indigo_text_color: var(--wp_indigo_texts_font); // SourceSerif
